@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}
p{
    font-family: "Yantramanav", sans-serif;
}
@layer components {
  .section-padding {
    @apply px-4 sm:px-6 lg:px-12;
  }

  .card-padding {
    @apply p-4 sm:p-6;
  }

  .layout-container {
    @apply max-w-7xl w-full mx-auto section-padding;
  }
}